@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;700&display=swap");

.example-container {
  font-family: "Darker Grotesque", sans-serif;

  padding: 2em 5em;
}

.example-container img {
  height: 328px;
  width: 430px;
}

.example-container h2 {
  text-align: center;

  padding-bottom: 1em;
}

.example-container h3 {
  font-weight: bold;
  font-size: 2rem;
  color: #000;

  padding-bottom: 1rem;
}

.example-container .wolf-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  padding-bottom: 3em;
  padding-top: 3em;
}

.example-container .wolf-img-container {
  position: relative;
  margin: 2em 0 2em 0;
}

.example-container .wolf-background {
  width: 430px;
  height: 328px;

  position: absolute;
  z-index: -1;
  top: -10%;
  left: -10%;

  background-color: #2c5680;
  border: 5px solid #333;
}

.example-container .wolf-description {
  padding-left: 2rem;
  padding-right: 5em;

  max-width: 600px;
}

.example-container .row-reverse {
  text-align: end;
}

.example-container .wolf-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.example-container .wolf-description .row-reverse {
  flex-direction: row-reverse;
}

.example-container .wolf-header .name-age-container {
  padding-bottom: 1.5rem;
}

.example-container .wolf-header .name-age-container h3 {
  padding-bottom: 0.5rem;
}

.example-container .wolf-header .name-age-container p {
  font-weight: 300;
  font-size: 1.3rem;
}

.example-container .wolf-body p {
  font-size: 1.5rem;
}

@media only screen and (max-width: 1301px) {
  .example-container .row-reverse {
    text-align: inherit;
  }

  .example-container .wolf-description .row-reverse {
    flex-direction: inherit;
  }
}
