@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.search-container {
  display: flex;
  flex-direction: column;

  margin: 0 5em;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin: 2em 0;

  width: 100%;
}

.search .input {
  position: relative;

  width: 80%;
  margin-right: 3em;
}

.search .input input {
  width: 100%;
  height: 35px;

  border: 1px solid #333;

  font-size: 1em;

  padding-left: 3em;
  margin-right: 20px;
}

.search .input img {
  position: absolute;

  top: 3px;
  left: 10px;

  cursor: pointer;
}

.checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.checkbox input {
  scale: 1.5;

  cursor: pointer;
}

.checkbox label {
  padding: 0 1em 0.2em 1em;

  font-size: 1.5em;
  font-family: "Darker Grotesque", sans-serif;

  cursor: pointer;
}

.btn {
  width: 15%;
  min-width: 120px;
}

.wolf-container:nth-child(odd) {
  flex-direction: row-reverse;
}
